* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container, .close {
    background-color: #11101d;
    width: 16rem;
    height: 100vh;
    color: aliceblue;
    border-radius: 0 20px 0 0;
    /* margin: 10px 20px; */
    /* border-radius: 20px; */
    transition: 0.5s;
    position: fixed;
    overflow-y: scroll;
    align-items: flex-start;
    z-index: 10;
}

.container::-webkit-scrollbar,
.close::-webkit-scrollbar {
    display: none;
}

.close {
    width: 3rem;
}

.navHead {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.headNameClose {
    display: none;
}

.navHead .menu {
    width: 22px;
}

.navLinks {
    /* margin: 40px  0 50px; */
    font-size: 18px;
    display: flex;
    flex-direction: column;
    
}

.openLink , .closeLink {
    display: flex;
    align-items: center;
    margin: 10px 2px;
    cursor: pointer;
    list-style-type: none;
    transition: 0.5s;
    padding: 10px;
}

.openLink a {
    text-decoration: none;
    color: white;
    margin-left: 14px;
}

.closeLink a {
    display: none;
}

.openLink img , .closeLink img {
    width: 22px;
}

.navLinks li:hover , .navFooter:hover , .closeLink:hover {
    background-color: rgb(27, 130, 219);
    border-radius: 20px;
    color: black;
}

.navFooter {
    display: flex;
    align-items: center;
    margin: 10px 2px;
    cursor: pointer;
    list-style-type: none;
    transition: 0.5s;
    padding: 10px;
}

.navFooter a {
    text-decoration: none;
    color: white;
    margin-left: 14px;
}

.navFooter img {
    width: 22px;
}

/* @media screen and (max-width: 1300px) {
    .navHead .menu {
        visibility: visible;
    }
} */