.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  margin-bottom: 30px;
  transition: 0.5s;
}

.expenseContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  width: 27rem;
  border-right: 4px solid red;
  border-left: 4px solid red;
}

.incomeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  width: 27rem;
  border-right: 4px solid green;
  border-left: 4px solid green;
}

.expenseContainer p,
.incomeContainer p {
  font-size: 18px;
  font-weight: 600;
  width: 5rem;
  text-align: left;
}

.incContainer,
.expContainer {
  background-color: #ececec;
  margin: 20px 0 10px;
  width: 30rem;
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.expHead,
.incHead {
  text-align: center;
  margin-bottom: 10px;
}

.incHead {
  text-decoration: solid green underline;
}

.expHead {
  text-decoration: solid red underline;
}

.emptyAlert {
  text-align: center;
}

button {
  border: none;
  outline: none;
}

img {
  width: 18px;
  cursor: pointer;
}

/* responsive */

@media (max-width: 587px) {
  .expContainer,
  .incContainer {
    width: 25rem;
  }

  .expenseContainer,
  .incomeContainer {
    width: 23rem;
  }
}

@media (max-width: 465px) {
  .expContainer,
  .incContainer {
    width: 20rem;
  }

  .expenseContainer,
  .incomeContainer {
    width: 17rem;
  }
}

@media (max-width: 380px) {
  .expContainer,
  .incContainer {
    width: 17rem;
  }

  .expenseContainer,
  .incomeContainer {
    width: 14rem;
  }
}

@media (max-width: 330px) {
  .expContainer,
  .incContainer {
    width: 16rem;
  }

  .expenseContainer,
  .incomeContainer {
    width: 15rem;
  }
}
