.App {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
}

/* .main {
  display: flex;
  width: 40rem;
  align-items: stretch;
  margin: auto;
} */

.route {
  margin: auto;
}

.navbar {
   /* position: fixed; */
   text-align: left;
}